.choose {
  background-color: #303030;
  border-radius: 5px;
  padding: 5px 10px;

  &__title {
    margin: 0;
    padding: 5px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__text {
    color: white;
    font-size: 20px;
    font-weight: normal;
  }

  &__list-item {
    padding: 10px 20px;
    border-radius: 5px;

    &:hover {
      background-color: #adb5bd;
    }

    &_active {
      background-color: #adb5bd;
    }
  }

  &__list-item:first-child {
    padding: 15px 20px 10px;
  }

  &__list-item:last-child {
    padding: 10px 20px 15px;
  }

  &__list-item:not(:first-child) {
    border-top: 1px solid #444444;
  }
}
