.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0;

  &__title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
  }

  &__nav {
    display: flex;
    column-gap: 30px;
  }

  &__link {
    color: mediumaquamarine;
    font-size: 20px;
    font-weight: bold;
  }

  &__link_active {
    color: #fff;
  }
}
